*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins" sans-serif;
      /* padding and border size should be count in its width and height */
}

body{
min-height: 100vh;
}


a{
    text-decoration: none;
}


li{
    list-style: none;
}

h1{
    color: #2C3947;
}

.side-menu {
    position: fixed;
    background: #093C5D;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}