body
{
height: 10cm;

}






#sq
{
height: 800px;
width: 300px;

background-color: grey
}


#r
{
height: 200px;
width:200px;
border-style: dashed;
border-width: 5px;
border-color: red;
border-radius: 50%;
margin: 50px ;

background-color: rgb(223, 96, 96)


}


#y
{
height: 200px;
width:200px;
border: 5px double yellow;
border-radius: 50%;
margin: 50px;
background-color: rgb(235, 235, 147)

}

#g
{
height: 200px;
width:200px;
border-width: 5px;
border-style: dashed;
border-color: green;
border-radius: 50%;
margin: 50px ;
background-color:  rgb(115, 231, 115)
}




#navbar
{
height: 60px;
border-width: 5px;
border-style: solid;
border-color: rgb(148, 2, 26);

background-color: rgb(228, 152, 177)

}


#ac
{
margin-right: 200px;
text-decoration: none;
color: rgb(212, 12, 45);

}

a{
margin-right: 200px;
text-decoration: none;
color: white;

}

button {

background-color: greenyellow;
color: rgb(2, 82, 2);


}